<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/head"/>

<body>
<nav th:replace="fragments/nav"/>

<div class="container" id="main-container">

    <div class="table-responsive">

        <h2 th:text="#{alloffer.page.title}"></h2>
        <form class="form-inline" action="/offer/allList">
            <div class="form-group">
                <input name="searchText" type="text" class="form-control"
                       size="50"
                       placeholder="Buscar nombre del producto">
            </div>
            
            <button type="submit" class="btn btn-primary">Buscar</button>
        </form>

        <div id="tableBuy" th:fragment="tableBuy">

            <label> Su saldo es: </label> <label id="wallet"
                                                 th:text="${buyer.wallet}"></label>

            <table class="table table-hover"
                   id="tableOffer">
                <thead>
                <tr>

                    <th scope="col" th:text="#{offer.image}">Imagen</th>
                    <th scope="col" th:text="#{offer.title}">Texto</th>
                    <th scope="col" th:text="#{offer.description}">Detalle</th>
                    <th scope="col" th:text="#{offer.price}">Cantidad solicitada</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="offer : ${offersList}">

                    <td>
                        <img th:if="${offer.image != null and offer.image != ''}" th:src="${offer.image}" width="56" height="57">
                        <img th:unless="${offer.image != null and offer.image != ''}" src="/images/nodisponible.png" />
                    </td>

                    <td th:text="${offer.title}"></td>
                    <td th:text="${offer.description}"></td>
                    <td th:text="${offer.price}"></td>
                    <td>
                        <div th:if="${offer.sold}">
                            Vendido
                        </div>
                        <div th:unless="${offer.sold}">
                            <button type="button"
                                    th:id="${'buyOffer' + offer.id}"
                                    class="btn btn-success">
                                Comprar
                            </button>
                            <script th:inline="javascript">
                                $("#buyOffer" + "[[${offer.id}]]").click(function () {
                                    $.get("/offer/[[${offer.id}]]/buyOffer", function (data) {
                                        $("#tableBuy").load('/offer/list/update');
                                    });
                                });
                            </script>
                        </div>
                    </td>
                    <td><a th:href="${'/conversation/redirectToConversation/' + offer.id}">Conversation</a></td>
                </tr>
                </tbody>
            </table>
            <span id="errorPrecio" class="text-danger" th:if="${buyError}" >Tu dinero debe ser superior al precio</span>
        </div>
    <div th:if="${#lists.isEmpty(offersList)}"> No hay ofertas</div>
</div>
</div>
<footer th:replace="fragments/footer"/>

</body>
</html>
