<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-
springsecurity4">
<head th:replace="fragments/head"/>

<body>
<nav th:replace="fragments/nav"/>

<div class="container" id="featured-container">
    <h2>Listado de ofertas destacadas</h2>
    <div class="table-responsive">
        <table class="table table-hover" th:fragment="tableFeaturedOffer"
               id="tableFeaturedOffer">
            <thead>
            <tr>
                <th scope="col" th:text="#{offer.title}">Texto</th>
                <th scope="col" th:text="#{offer.description}">Detalle</th>
                <th scope="col" th:text="#{offer.price}">Cantidad solicitada
                </th>
                <th scope="col" th:text="#{offer.featured}">Destacada</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="offer : ${offerFeaturedList}">
                <td th:text="${offer.title}"></td>
                <td th:text="${offer.description}"></td>
                <td th:text="${offer.price}"></td>
                <td th:text="${offer.featured}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:if="${#lists.isEmpty(offerFeaturedList)}"
         th:text="#{offer.page.noOffersToShow}"> No hay ofertas
    </div>
</div>

<div class="container" id="main-container">
    <h2>Mis ofertas</h2>
    <div class="table-responsive">
        <!--        <p th:if=""></p>-->
        <table class="table table-hover" th:fragment="tableOffer"
               id="tableOffer">
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col" th:text="#{offer.title}">Texto</th>
                <th scope="col" th:text="#{offer.description}">Detalle</th>
                <th scope="col" th:text="#{offer.price}">Cantidad solicitada
                </th>
                <th scope="col" th:text="#{offer.featured}">Destacada
                </th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="offer : ${offerList}">
                <td>
                    <img th:if="${offer.image != null and offer.image != ''}" th:src="${offer.image}" width="56" height="57" style="object-fit: cover;">
                    <img th:unless="${offer.image != null and offer.image != ''}" src="/images/nodisponible.png" />
                </td>
                <td th:text="${offer.title}"></td>
                <td th:text="${offer.description}"></td>
                <td th:text="${offer.price}"></td>
                <td th:text="${offer.featured}"></td>
                <td>
                    <a th:if="${offer.featured} == false" th:href="${'/offer/featured/' + offer.id}"
                       class="linkFeaturedOffer"
                       th:text="#{offer.page.button.featured}">Destacar</a>
                </td>
                <td>
                    <a th:href="${'/offer/delete/' + offer.id}"
                       sec:authorize="hasRole('ROLE_STANDARD')"
                       class="btnBorrarOferta"
                       th:text="#{offer.page.button.delete}">Eliminar</a>
                </td>
                <td><a th:href="${'/conversation/redirectToConversationMyOffers/' + offer.id}">Conversation</a></td>
            </tr>

            </tbody>
        </table>
    </div>
    <div th:if="${#lists.isEmpty(offerList)}"
         th:text="#{offer.page.noOffersToShow}"> No hay ofertas
    </div>
    <div th:if="#{buyError}" th:text="#{offer.featured.nomoney}">
        Tu dinero debe ser al menos de 20€ para destacar una oferta!</div>
</div>

<footer th:replace="fragments/footer"/>

</body>
</html>
