<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/head"/>
<body>
<!-- Barra de Navegación superior -->
<nav th:replace="fragments/nav"/>
<div class="container">
  <h2><label name="title" th:text="#{users.users}">  </label></h2>
  <p><label th:text="#{users.text}">  </label></p>
  <div class="table-responsive"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extrasspringsecurity4">

    <form method="POST" action="/users/deleteSelected">
    <table class="table table-hover" id="tableUsers">
      <thead>
      <tr>
        <th scope="col">Email</th>
        <th scope="col"><label th:text="#{users.name}">  </label></th>
        <th scope="col"><label th:text="#{users.surname}">  </label></th>
        <th scope="col" th:if="${#request.isUserInRole('ROLE_ADMIN')}">
          <input id="btnBorrar" type="submit" name="btnBorrar" value="Eliminar" ></th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>

      <tr th:each="user : ${usersList}">
        <td scope="row" th:text="${user.email}">correo@email.com</td>
        <td scope="row" th:text="${user.name}"><label th:text="#{users.name}">  </label></td>
        <td scope="row" th:text="${user.lastName}"><label th:text="#{users.surname}">  </label></td>
        <td scope="row" th:if="${#request.isUserInRole('ROLE_ADMIN')}">
          <input type="checkbox" name="userIds" th:value="${user.id}" /></td>

      </tr>
      </tbody>
    </table>
      </form>
  </div>
</div>
<footer th:replace="fragments/footer"/>
</body>
</html>

