<!-- nav.html -->
<nav class="navbar navbar-expand-lg navbar-dark bg-my-green" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-
springsecurity4">
    <a class="navbar-brand" href="#"></a>
    <img src="/images/student-48.png" alt="logo"/>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarColor02"
            aria-controls="navbarColor02" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="my-navbarColor02">
        <ul class="navbar-nav mr-auto" sec:authorize="isAuthenticated()">
            <li class="nav-item ">
                <a class="nav-link" href="/home" th:text="#{nav.home}">Home<span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown active"
                sec:authorize="hasRole('ROLE_STANDARD')">
                <a class="nav-link dropdown-toggle" href="#"
                   id="gestionOfertasMenu" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false"
                   th:text="#{nav.offer.title}"> Gestión de
                    ofertas
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown"
                     id="gestionOfertasDropdown">
                    <a class="dropdown-item" href="/offer/allList"
                       id="listAllOfferMenu"
                       th:text="#{nav.offer.viewOffersToBuy}">Ver ofertas para
                        comprar </a>
                    <a class="dropdown-item" href="/offer/list"
                       id="listOfferMenu" th:text="#{nav.offer.all}">Ver ofertas
                        propias</a>
                    <a class="dropdown-item" id="addOfferMenu"
                       href="/offer/add" th:text="#{nav.offer.add}">Añadir
                        oferta</a>
                    <a class="dropdown-item" href="/offer/boughtList"
                       id="listBoughtOffers">Ver ofertas compradas</a>
                </div>
            </li>

            <li class="nav-item dropdown" sec:authorize="hasRole('ROLE_ADMIN')">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown"
                   role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false"
                   th:text="#{nav.user.title}"> Gestión de
                    usuarios
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/user/list"
                       th:if="${#request.isUserInRole('ROLE_ADMIN')}"
                       th:text="#{nav.user.all}">Ver
                        usuarios</a>
                </div>
            </li>

            <li class="nav-item dropdown"
                sec:authorize="hasRole('ROLE_STANDARD')">
                <a class="nav-link dropdown-toggle" href="#"
                   id="profesorDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false"
                   th:text="#{nav.conversation.title}"> Gestión de
                    conversaciones
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/conversation/allList"
                       th:text="#{nav.conversation.all}">Ver todas las
                        conversaciones</a>
                    <a class="dropdown-item" href="/conversation/mylist"
                       th:text="#{nav.conversation.offer.all}">Ver
                        conversaciones de mis ofertas</a>
                    <a class="dropdown-item" href="/conversation/list"
                       th:text="#{nav.conversation.offer.other.all}">Ver
                        conversaciones de otras ofertas</a>
                </div>

            </li>

            <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                <a class="nav-link" href="/admin/logs" id="viewLogsMenuItem"
                   th:text="#{nav.logs.all}">Ver
                    logs</a>
            </li>
        </ul>
        <ul class="navbar-nav justify-content-end">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="btnLanguage" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <span th:text="#{language.change}"></span>
                </a>
                <div id="languageDropdownMenuButton" class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" id="btnEnglish" value="EN">
                        <img th:src="@{/images/if_uk_flag.png}" style="border: 0; float: left; margin-right: 15px"/>
                        <span th:text="#{language.en}">Inglés</span>
                    </a>
                    <a class="dropdown-item" id="btnSpanish" value="ES">
                        <img th:src="@{/images/if_spain_flag.png}" style="border: 0; float: left; margin-right: 15px"/>
                        <span th:text="#{language.es}">Español</span>
                    </a>
                </div>
            </li>
            <li sec:authorize="!isAuthenticated()" class="nav-item">
                <a class="nav-link" href="/signup">
                    <i class='fas fa-user-alt' style='font-size:16px'></i>
                    <span th:text="#{signup.message}"></span></a>
            </li>
            <li sec:authorize="!isAuthenticated()" class="nav-item"><a class="nav-link" href="/login">
                <i class='fas fa-sign-in-alt' style='font-size:16px'></i>
                <span th:text="#{login.message}"></span></a></li>
            <li sec:authorize="isAuthenticated()" class="nav-item">
                <a class="nav-link" href="/logout">
                    <i class='fas fa-sign-out-alt' style='font-size:16px'></i>
                    <span th:text="#{logout.message}"></span>
                </a>
            </li>
        </ul>
    </div>
</nav>