<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/head"/>
<body>
<nav th:replace="fragments/nav"/>
<div class="container" style="text-align: center">
    <h2 name="title" th:text="#{welcome.message}"></h2>
    <h3 th:text ="#{home.subtitle}"></h3>
    <p>
        <b th:text ="#{home.auth.user}"></b>
        <b th:inline="text" sec:authentication="principal.username"></b>
    </p>
</div>
<footer th:replace="fragments/footer"/>
</body>
</html>