<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/head"/>
<body>
<!-- Barra de Navegación superior -->
<nav th:replace="fragments/nav"/>
<div class="container">
  <h2><span th:text="#{signup.page.message}"></span></h2>
  <form class="form-horizontal" method="post" action="/signup" th:object="${user}">
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Email:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="email" name="email"
               placeholder="XXX@YYY.ZZZ" required/>
        <span class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="name" th:text="#{name}+':'"></label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="name" name="name"
               placeholder="Juan José" required/>
        <span class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="lastName" th:text="#{lastName}+':'"></label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="lastName" name="lastName"
               placeholder="Peréz Almonte" required/>
        <span class="text-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="password" th:text="#{password}+':'"></label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="password" name="password"/>
        <span class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
      </div>
    </div>
    <div class="form-group" >
      <label class="control-label col-sm-2" id="passwordConfirm" for="passwordConfirm" th:text="#{passwordConfirm}+':'">
        </label>
      <div class="col-sm-10">
        <input type="password" class="form-control" name="passwordConfirm"/>
        <span class="text-danger" th:if="${#fields.hasErrors('passwordConfirm')}"
              th:errors="*{passwordConfirm}"></span>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Enviar</button>
      </div>
    </div>
  </form>
</div>
<footer th:replace="fragments/footer"/>
</body>
</html>